<div *ngIf="!isYoutubeVideo()">
  <div>
    <video class="full-video" src="{{ videoUrl }}" controls></video>
  </div>
</div>
<!-- https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/h264.mov video example-->

<div *ngIf="isYoutubeVideo()">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
  </div>
</div>
<!-- https://www.youtube.com/embed/zpOULjyy-n8?rel=0 youtube example -->
