#box {
  display: inline-block;
  background: url("../../assets/seat_2_2.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

canvas {
  background: transparent;
  width: inherit;
  opacity: 1;
  visibility: visible;
}

canvas.slow-hide {
  opacity: 0;
  transition: opacity 1s;
}

#needle{
  transform-origin: center;
  transition: 0.2s;
  top: 0;
  left: 44%;
  position: absolute;
  height: 100%;
  z-index: 5;
}

#numbers{
  position: absolute;
  width: 100%;
  height: 100%;
}

#speed-box{
  width: 200px;
  height: 200px;
  position: relative;
}
