#box {
  display: inline-block;
  background: url("./../../assets/seat_2_2.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

canvas {
  background: transparent;
  width: inherit;
  opacity: 1;
  visibility: visible;
}

canvas.slow-hide {
  opacity: 0;
  transition: opacity 1s;
}
