<div id="home-container" class="container-fluid px-0">
  <div class="row mx-0">
    <div class="col-12 px-0">
      <img src="../../assets/finals/second-scene.png" class="img-fluid w-100" />
      <div id="speed-box">
        <img id="needle" src="../../assets/needle_2.png">
        <img id="numbers" src="../../assets/numbers.png">
        <!-- <img id="speedometer" src="../../assets/speedometer/Attack__000.png"> -->
      </div>
      <div id="box">
        <canvas #canvas id="canvas" (mousedown)="mousedown();" (mouseup)="mouseup();"></canvas>
      </div>
    </div>
  </div>
</div>
