.modal-dialog {
  max-width: 80%;
}
.modal-content {
  background-color: black;
  border-radius: 15px;
}
#videoModal{
  background-color:rgba(0, 0, 0, 0.7);
}
.close-section-button{
  margin: 30px;
}


/* BUTTONS */
.title-download{
  margin-bottom: 40px;
}

.download-button {
  border-radius: 4px;
  background-color: #ea5d1a;
  margin-right: 40px;
  color: #ffffff;
}
.contact-button {
  border-radius: 4px;
  border: solid 1px #ea5d1a;
  color: #ea5d1a;
}

.text-buttons{
  padding: 12px 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-family: SeatBcn-Regular;
}


/* FLOATING BUTTON CSS */

.avatar {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

.image-button {
  width: 100%;
  height: auto;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
