<div id="closing-container" class="container-fluid px-0">
  <div class="row mx-0">
      <div class="col-12 px-0">
        <img src="../../assets/seat_4.jpg" class="img-fluid w-100">
      </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary">
    Send Mail
  </button>

  <!-- Email button-->
  <a href="mailto:some@email.com" target="_blank" class="btn btn-primary">Email Us</a>

  <!-- Youtube modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Show Video Modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
