<div id="closing-container" class="container-fluid px-0">
  <div class="row mx-0">
      <div class="col-12 px-0">
        <img src="../../assets/finals/closing-scene.png" class="img-fluid w-100">
      </div>
  </div>
  <div class="row mx-0 relative-row">
    <div class="floating-buttons-selection ">
      <a id="download-button" class="floating-button" href="../../assets/demo.png" download="test">
        <img src="https://via.placeholder.com/250"/>
      </a>
      <a id="email-button" class="floating-button" href="mailto:some@email.com" target="_blank">
        <img src="https://via.placeholder.com/250"/>
      </a>
       <button id="video-button" class="floating-button" type="button" data-toggle="modal" data-target="#videoModal">
        <img src="https://via.placeholder.com/250"/>
       </button>
    </div>
    <div class="col-12 px-0">
      <img src="../../assets/finals/closing-buttons.png" class="img-fluid w-100">
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x4X1sAy2sqs?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</div>

<div id="keep-in-touch-container" class="container px-0">
  <div class="row mx-0">
    <div class="col-12 px-0">
      <h1 class="title-download">LET'S KEEP IN TOUCH</h1>
    </div>
    <div class="col-12 px-0 add-inferior-space">
      <a href="../../assets/demo.png" download="test" class="btn download-button text-buttons">Download Proposal</a>
      <a href="mailto:some@email.com" target="_blank" class="btn contact-button text-buttons">Contact via email</a>
    </div>
  </div>

  <div class="floating-button close-section-button">
    <a href="https://codepen.io/MarioDesigns/">
      <img class="image-button" src="../../assets/seat_2_2.jpg" alt="Skytsunami" />
    </a>
  </div>
</div>
