<div id="first-scene-container" class="container-fluid px-0">
  <div class="row mx-0">
    <div class="col-12 px-0">
      <img src="../../assets/finals/first-scene.png" class="img-fluid w-100" />
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-12 px-0">
      <div id="box">
        <img
          src="../../assets/finals/first-scene-minigame.png"
          id="imatge"
          class="img-fluid w-100"
        />
        <canvas #canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
</div>
