#scene{
  height: 1080px;
  background-color: white;
}

.parallax-layer{
  height: 1080px;
  width: 100%;
  align-items: center;
}

.layer{
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.background{
  background: url(../../assets/parallaxTest/PLANO6-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;

}
.mountains-3 {
  background: url(../../assets/parallaxTest/PLANO5-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.mountains-2 {
  background: url(../../assets/parallaxTest/PLANO4-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.mountains-1 {
  background: url(../../assets/parallaxTest/PLANO3-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.car {
  background: url(../../assets/parallaxTest/PLANO2-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}
.grass {
  background: url(../../assets/parallaxTest/PLANO1-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 120%;
  left: -10%;
  top: -5%;
}
.filter {
  background: url(../../assets/parallaxTest/CAPA_FILTRO-min.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}

.title-parallax{
  color: #0f0f0f;
  text-align: center;
  font-size: 68px;
}

.subtitle-parallax{
  color: #0f0f0f;
  text-align: center;
  font-size: 37px;
  margin: 40px 0px;
}

.logo-parallax{
  text-align: center;
  padding-top: 50px;
}

.logo-home{
  margin: 0px 20px;
}

#text-home-layer{
  top: 10%!important;
}
