<div id="home-container" class="container-fluid px-0">

  <div id="scene">
    <div class="parallax-layer" data-depth="0.10">
      <div class="background"></div>
    </div>
    <div class="parallax-layer" data-depth="0.20">
      <div class="lighthouse"></div>
    </div>
    <div class="parallax-layer" data-depth="0.30">
      <div class="wave"></div>
    </div>
    <div class="parallax-layer" data-depth="0.70">
      <h1 class="title-parallax">Bienvenido a este viaje</h1>
      <p class="title-parallax">gfkjdhgjkdfhgkdfhk</p>

    </div>
  </div>

  <div class="row mx-0">
      <div class="col-12 px-0">
      <img src="../../assets/seat_0.jpg" class="img-fluid w-100">
      </div>
  </div>

  <!-- <div class="container-fluid full-size">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div> -->

</div>
