<div id="home-container" class="container-fluid px-0">
  <div id="scene">
    <div class="parallax-layer" data-depth="0.05">
      <div class="background layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.10">
      <div class="mountains-1 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.15">
      <div class="mountains-2 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.30">
      <div class="car layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.35">
      <div class="grass layer"></div>
    </div>
    <div id="text-home-layer" class="parallax-layer" data-depth="0.8">
      <h1 class="title-parallax">Bienvenido a este viaje</h1>
      <h3 class="subtitle-parallax">“Together will discover the journey to innovation”</h3>
      <div class="logo-parallax">
        <img class="logo-home" src="../../assets/logos/everis-logo.png" width="120" height="auto" alt="everis-logo">
        <img class="logo-home" src="../../assets/logos/seat-logo.png" width="auto" height="40" alt="seat-logo">
      </div>
    </div>
  </div>
</div>
