<div id="home-container" class="container-fluid px-0">
  <div id="scene">
    <div class="parallax-layer" data-depth="0.10">
      <div class="background layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.20">
      <div class="mountains-3 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.30">
      <div class="mountains-2 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.50">
      <div class="mountains-1 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.70">
      <div class="car layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.70">
      <div class="grass layer"></div>
    </div>
    <!-- <div class="parallax-layer" data-depth="0.0">
      <div class="filter layer"></div>
    </div> -->
    <div id="text-home-layer" class="parallax-layer" data-depth="0.0">
      <h1 class="title-parallax">Hello, driver!</h1>
      <h3 class="subtitle-parallax">Let's consolidate the journey to the next era together</h3>
      <div class="logo-parallax">
        <img class="logo-home" src="../../assets/logos/black.svg" width="129" height="auto" alt="everis-logo">
        <img class="logo-home" src="../../assets/logos/seat.svg" width="auto" height="72" alt="seat-logo">
        <img class="logo-home" src="../../assets/logos/cupra.svg" width="auto" height="72" alt="seat-logo">
      </div>
    </div>
  </div>
</div>
