#scene{
  height: 960px;
  background-color: white;
}

.parallax-layer{
  height: 960px;
  width: 100%;
  align-items: center;
}

.layer{
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.background{
  background: url(../../assets/parallax/PLANO6.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: -5%;
}
.mountains-3 {
  background: url(../../assets/parallax/PLANO5.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.mountains-2 {
  background: url(../../assets/parallax/PLANO4.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.mountains-1 {
  background: url(../../assets/parallax/PLANO3.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.car {
  background: url(../../assets/parallax/PLANO2.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.grass {
  background: url(../../assets/parallax/PLANO1.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}
.filter {
  background: url(../../assets/parallax/CAPA_FILTRO.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 100%;
}

.title-parallax{
  color: #0f0f0f;
  text-align: center;
  font-size: 68px;
}

.subtitle-parallax{
  color: #0f0f0f;
  text-align: center;
  font-size: 37px;
  margin: 40px 0px;
}

.logo-parallax{
  text-align: center;
  padding-top: 50px;
}

.logo-home{
  margin: 0px 20px;
}

#text-home-layer{
  top: 10%!important;
}
