#scene{
  height: 900px;
  background-color: white;
  justify-content: center;
  display: flex;
}

.parallax-layer{
  height: 100%;
  width: 100%;
  align-items: center;
}

.background{
  background: url(../../assets/road.jpg) no-repeat 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.lighthouse{
  background-image: url(../../assets/car_1.png);
  background-repeat: no-repeat;
  height: 100%;
}

.forest{
  background-image: url(../../assets/forest.png);
  background-repeat: no-repeat;
  height: 100%;
}

.title-parallax{
  color: white;
  text-align: center;
  font-size: 100px;
}
