.fixed-position{
  display: inline-flex;
  top: 20%;
  position: absolute;
}

.movable{
  z-index: 4;
  margin: 0px 30px;
}

.navbar-icon{
  width: 50px;
  height: auto;
}

.navbar-title{
  font-size: 18px;
}

#navigation-bar{
  height: 110px;
  padding: 0px!important;
}

#car{
  width: 100%;
  background-color: white;
}

.stepper{
  background: url(../../assets/navigation-bar/stepper.svg);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: none;
  height: 110px;
}
