.fixed-position{
  display: inline-flex;
  top: 40%;
  position: absolute;
}

.movable{
  z-index: 4;
  margin: 0px 30px;
}

.navbar-icon{
  width: 50px;
  height: auto;
}

.navbar-title{
  font-size: 18px;
}

/* .flex-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
} */

#navigation-bar{
  height:100px;
  padding: 0px!important;
}

#car{
  width: 100%;
  /* margin: 0px 40px; */
}

.stepper{
  background: url(../../assets/navigation-bar/stepper.svg);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: contain;
}
