<div id="closing-container" class="container-fluid px-0">
  <div class="row mx-0">
      <div class="col-12 px-0">
        <img src="../../assets/finals/closing-scene.png" class="img-fluid w-100">
      </div>
  </div>
  <div class="row mx-0 relative-row">
    <div class="floating-buttons-selection">
      <a id="download-button" class="floating-effect" href="../../assets/demo.png" download="test">
        <img class="floating-button" src="../../assets/buttons/drone.png"/>
      </a>
      <a id="email-button" class="vibrate-effect" href="mailto:some@email.com" target="_blank">
        <img class="floating-button" src="../../assets/buttons/movil.png"/>
      </a>
       <a id="video-button" class="sound-effect" data-toggle="modal" data-target="#videoModal">
        <img class="floating-button" src="../../assets/buttons/pantalla.png"/>
       </a>
    </div>
    <div class="col-12 px-0">
      <img src="../../assets/finals/closing-scene-minigame.png" class="img-fluid w-100">
    </div>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x4X1sAy2sqs?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
