.modal-dialog {
  max-width: 80%;
}
.modal-content {
  background-color: black;
  border-radius: 15px;
}
#videoModal{
  background-color:rgba(0, 0, 0, 0.7);
}
.close-section-button{
  margin: 30px;
}
.add-inferior-space{
  margin-bottom: 40px;
}
.relative-row{
  position: relative;
}
#download-button{
  left: 17%;
  top: 27%;
  position: inherit;
}
#email-button{
  left: 42%;
  top: 68%;
  position: inherit;
}
#video-button{
  left: 45%;
  top: 82%;
  position: inherit;
}
.title-download{
  margin-bottom: 40px;
  margin-top: 80px;
}
.download-button {
  border-radius: 4px;
  background-color: #ea5d1a;
  margin-right: 40px;
  color: #ffffff;
}
.contact-button {
  border-radius: 4px;
  border: solid 1px #ea5d1a;
  color: #ea5d1a;
}
.text-buttons{
  padding: 12px 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 18px;
  font-family: "SeatBcn-Regular";
}
.floating-buttons-selection {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
}
.floating-button {
  box-sizing: border-box;
	overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.floating-button:hover{
  transform: scale(1.15);
}
.image-button {
  width: 100%;
  height: auto;
}
.floating-effect{
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}
.vibrate-effect{
  transform: translatex(0px);
  animation: vibrate 2s ease-in-out infinite;
}
@keyframes vibrate {
	0% {
		transform: translatex(0px);
	}
	10% {
		transform: translatex(5px);
  }
  20% {
		transform: translatex(0px);
	}
	100% {
		transform: translatex(0px);
	}
}
.sound-effect{
  transform: scale(1);
  animation: sound 1s ease-in-out infinite;
}
@keyframes sound {
	0% {
		transform: scale(1);
	}
	15% {
		transform: scale(1.1);
  }
  30% {
		transform: scale(1);
	}
  100% {
		transform: scale(1);
	}
}
.floating-effect:hover,
.vibrate-effect:hover,
.rotate-effect:hover,
.sound-effect:hover{
  animation-play-state: paused;
}
