<div id="closing-container" class="container-fluid px-0">
  <div class="row mx-0">
      <div class="col-12 px-0">
        <img src="assets/finals/closing-scene.png" class="img-fluid w-100">
      </div>
  </div>
  <div class="row mx-0 relative-row">
    <div class="floating-buttons-selection">
      <a id="download-button" class="floating-effect"
      href="https://everisgroup-my.sharepoint.com/:f:/g/personal/egarccor_everis_com/Em1knhcP3M9ErwCe1R42FZUB7QuwcYyg6TKERivNmjWIGw?e=2kcRyd" target="_blank">
        <img class="floating-button" src="assets/buttons/drone.png"/>
      </a>
       <a id="video-button" class="sound-effect" data-toggle="modal" data-target="#videoModal">
        <img class="floating-button" src="assets/buttons/pantalla.png"/>
       </a>
    </div>
    <div class="col-12 px-0">
      <img src="assets/finals/closing-scene-minigame.png" class="img-fluid w-100">
    </div>
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/427336620" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
