<div id="home-container" class="container-fluid px-0">
  <div id="scene">
    <div class="parallax-layer" data-depth="0.10">
      <div class="background layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.20">
      <div class="mountains-3 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.30">
      <div class="mountains-2 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.50">
      <div class="mountains-1 layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.85">
      <div class="car layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.85">
      <div class="grass layer"></div>
    </div>
    <div class="parallax-layer" data-depth="0.00">
      <div class="filter layer"></div>
    </div>
    <div id="text-home-layer" class="parallax-layer" data-depth="0.0">
      <h1 class="title-parallax">Hello, SEAT!</h1>
      <h3 class="subtitle-parallax">You can trust on everis as your co-pilot for the next years.</h3>
      <h3 class="subtitle-parallax">We will guide you in this amazing trip!</h3>
      <div class="logo-parallax">
        <img class="logo-home" src="assets/logos/black.png" width="129" height="auto" alt="everis-logo">
        <img class="logo-home" src="assets/logos/seat.png" width="auto" height="72" alt="seat-logo">
        <img class="logo-home" src="assets/logos/cupra.png" width="auto" height="72" alt="seat-logo">
      </div>
    </div>
  </div>
</div>
